.bonus {
    position: relative;
    background: radial-gradient(61% 290.5% at 61.81% 55.56%, #FAB600 0%, #F38F0C 100%);
    box-sizing: border-box;
    background-size: cover;
    min-height: 504px;
    padding: 139px 30px;
    overflow: hidden;

    .wrapper {
        position: relative;
    }

    &__container {
        position: relative;
        max-width: 660px;
        margin-top: -32px;
    }

    &__title {
        line-height: 1.2;
        margin-bottom: 32px;
    }

    &__text {
        color: $background-dark;
        font-size: 1.333rem;
    }

    &__discount-background {
        position: absolute;
        background: url("/images/bonus-discount-background.png") no-repeat;
        background-size: 1061px 241px;
        width: 1061px;
        height: 241px;
        top: -91px;
        left: 42%;
    }
}
