.catalogue {
    padding: 100px 0;
    background: linear-gradient(91.02deg, #FFD336 0%, #F9B222 48.64%, #F38F0C 100%);

    &__container {
        @include media-to(1024px) {
            text-align: center;
        }
    }

    &__container-inner {
        position: relative;
        width: 50%;

        @include media-to(1024px) {
            margin: 0 auto;
            width: 80%;
        }

        @include media-to(425px) {
            width: 100%;
        }
    }

    &__hidden {
        @include media-to(1024px) {
            display: none;
        }
    }

    .button_no-bg {
        min-width: 318px;
        padding: 18px 10px;
        font-size: 1rem;
        font-weight: 700;
        color: $background-dark;
        border: 1px solid $background-dark;

        @include media-to(1024px) {
            display: inline-block;
        }

        @include media-to(425px) {
            min-width: 0;
            width: 100%;
        }
    }

    &__title {
        line-height: 1.2;
        margin: 78px 0 10px;

        @include media-to(1024px) {
            margin-top: 0;
        }

        @include media-to(768px) {
            font-size: 2.2222rem;
        }

        @include media-to(425px) {
            font-size: 2rem;
        }
    }

    &__text {
        margin-bottom: 43px;
        color: $background-dark;

        @include media-to(768px) {
            font-size: 0.8889rem;
        }
    }

    &__image {
        position: relative;
        z-index: 1;
        top: 35px;
        left: -16px;
    }

    &__image-2 {
        position: absolute;
        top: 2px;
        right: 60px;
    }
}