.chart {
    position: relative;
    background: linear-gradient(180deg, #3D3D3D 0%, rgba(61, 61, 61, 0) 100%), #000000;
    padding: 123px 0;

    @include media-to(425px) {
        padding: 80px 0;
    }

    &__container {
        width: 45%;
        margin-top: -22px;

        @include media-to(1100px) {
            width: 100%;
            text-align: center;
        }
    }

    &__title {
        margin-bottom: 12px;
        color: $background-color;

        span {
            background: linear-gradient(94.73deg, #5BC8FF 0%, #1470CC 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    &__image {
        display: block;
        position: absolute;
        top: 158px;
        left: calc(50% + 112px);
        max-width: calc(50% - 150px);
        
        @include media-to(1100px) {
            position: static;
            max-width: calc(100% - 40px);
            margin: 0 auto 80px;
        }
    }

    &__text {
        color: $text-color-light;
        margin-bottom: 50px;
    }

    .button {
       background: transparent;
        color: $background-color;
        border: 1px solid $background-color;

        @include media-to(425px) {
            max-width: 80%;
            min-width: 0;
            padding: 20px;
        }
    }

    &__button {
        min-width: 307px;
        padding: 21px 50px 17px;
    }
}