.leaders {
    margin-bottom: 162px;

    &__title {
        text-align: center;
        margin-bottom: 45px;
    }

    &__items {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        position: relative;
        width: 33.3%;
        height: 560px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #FAFAFA;
        border: 1px solid #F0F0F0;
        padding: 25px 90px 0 90px;
        margin-right: 20px;

        &-description {
            color: $text-color-light;
            font-size: 0.72rem;
            margin-bottom: 3px;
        }

        &-prev-price {
            text-decoration: line-through;
            color: $text-color-light;
            font-size: 0.72rem;
        }

        &-price {
            font-weight: 700;
            color: $background-dark;
            margin-bottom: 10px;
        }
    }

    &__discount {
        position: absolute;
        top: 0;
        left: 0;
        padding: 6px 5px 6px 9px;
        font-size: 0.6667rem;
        line-height: 1;
        border-radius: 0 3px 3px 0;
        background-color: $color-brand;
        color: $background-dark;

    }

    .button_no-bg {
        min-width: 180px;
        margin-bottom: 17px;
        font-size: 0.72rem;
        font-weight: 400;
        padding: 10px;
        background-color: transparent;
        border: 1px solid #979797;
    }
}