.process {
    position: relative;
    padding: 95px 0 0;

    @include media-to(960px) {
        margin-bottom: 60px;
    }

    &__row {
        display: flex;
        margin-bottom: 60px;

        @include media-to(768px) {
            flex-wrap: wrap;
        }

        @include media-to(425px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__item {
        margin-right: 95px;
        width: 225px;

        @include media-to(768px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-right: 0;
            margin-bottom: 50px;
            width: 50%;
            padding: 0 5px;
            box-sizing: border-box;
        }

        @include media-to(425px) {
            flex-direction: column;
        }


        &:last-child {
            margin-right: 0;
        }
    }

    &__image-container {
        display: flex;
        align-items: end;
        width: 110px;
        height: 110px;
        margin-bottom: 20px;
        background: rgba(196, 196, 196, 0.2);
    }

    &__title {
        margin-bottom: 12px;
        color: $background-dark;
        font-weight: 700;
    }

    &__text {
        font-size: 13px;
    }

    &__image-main {
        position: absolute;
        height: 100%;
        right: 50%;
        top: 13px;
        object-fit: cover;
        max-width: 50vw;

        @include media-to(960px) {
            display: none;
        }
    }

    &__container {
        position: relative;
        display: flex;
        justify-content: end;
        min-height: 585px;
        align-items: center;

        @include media-to(960px) {
            justify-content: center;
            min-height: 0;
        }

        &-inner {
            display: flex;
            flex-direction: column;
            width: 50%;

            @include media-to(960px) {
                width: auto;
            }
        }
    }

    &__list {
        padding-left: 11px;

        &-block {
            padding-left: 100px;

            @include media-to(960px) {
                padding: 0;
            }
        }

        &-item {
            position: relative;
            list-style-type: none;

            &:before {
                content: "";
                position: absolute;
                left: -11px;
                top: 10px;
                width: 6px;
                height: 6px;
                background: $color-brand;
            }
        }
    }
}