.shops-gallery {
    padding-top: 132px;

    @include media-to(768px) {
        padding-top: 80px;
    }

    &__title {
        width: 60%;
        margin: 0 auto 63px;
        line-height: 1.1813;

        @include media-to(1024px) {
            text-align: center;
        }

        @include media-to(768px) {
            width: 100%;
            font-size: 2.2222rem;
        }

        @include media-to(425px) {
            font-size: 1.8889rem;
        }
    }

    &__columns {
        display: flex;

        @include media-tablet {
            flex-direction: column;
        }
    }

    &__column {
        margin-right: 20px;
        width: 62%;

        @include media-tablet {
            width: 100%;
            margin-right: 0;
        }

        &-right {
            margin-right: 0;
            width: 36.7%;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @include media-tablet {
                width: 100%;
                margin-right: 0;
            }
        }
    }

    &__image {
        display: block;
        max-width: 100%;

        @include media-tablet {
            margin-bottom: 20px;
        }
    }
}