.shops-gallery {
    padding-top: 132px;

    &__title {
        width: 60%;
        margin: 0 auto 63px;
        line-height: 1.1813;
    }

    &__columns {
        display: flex;

    }

    &__column {

        margin-right: 20px;

        &-right {

        }
    }

    &__image-mb {
        margin-bottom: 18px;
    }

}