.shops-map {
    font-size: 0.7778rem;
    padding: 75px 0 100px;

    @include media-to(768px) {
        padding: 0 0 80px;
    }

    &__title {
        text-align: center;

        @include media-to(768px) {
            font-size: 2.2222rem;
        }
    }

    &__item {
        display: flex;
        margin-bottom: 60px;

        &:last-child {
            margin-bottom: 0;
        }

        &-title {

            margin-bottom: 10px;

            span {
                color: $background-dark;
                font-weight: 700;
            }
        }
    }

    &__control {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    &__search {
        margin-right: 13px;
    }

    &__columns {
        display: flex;

        @include media-to(1150px) {
            flex-direction: column;
        }
    }

    &__column {
        margin-right: 20px;

        &:last-child {
            margin-right: 0;
        }

        &-left {
            width: 43%;

            @include media-to(1150px) {
                width: 100%;
                margin-bottom: 50px;
            }
        }

        &-right {
            flex: 1;
        }
    }

    &__location {
        margin-bottom: 10px;

        &-icon {
            margin: 4px 10px 0 0;
        }
    }

    &__phone {
        margin-bottom: 10px;

        &-icon {
            margin: 4px 10px 0 0;
        }
    }

    &__schedule {
        margin-bottom: 10px;

        &-icon {
            margin: 4px 10px 0 0;
        }
    }

    &__map {
        width: 100%;
        height: 500px;
    }

    &__logo {
        @include media-to(425px) {
            display: none;
        }
    }
}