.slider {
    max-width: 940px;
    padding-top: 78px;
    padding-bottom: 100px;
    margin: 0 auto;


    &__main-title {
        margin-bottom: 97px;
        text-align: center;

        @include media-between(320px, 425px) {
            font-size: 2rem;
            margin-top: 0;
            margin-bottom: 50px;
        }

        @include media-to(320px) {
            font-size: 1.5rem;
            margin-top: 0;
        }
    }

    &__pagination {
        margin-bottom: 31px;
        font-weight: 700;
        color: $text-color-light;
    }

    &__title {
        font-weight: 700;
        color: $background-dark;
    }

    &__text {
        font-size: 0.7222rem;

        @include media-to(1024px) {
            margin-bottom: 50px;
        }
    }

    &__container {
        display: flex;

        @include media-to(1024px) {
            flex-direction: column;
            align-items: center;
        }

        &-left,
        &-right {
            width: 50%;
            margin-right: 30px;
        }

        &-left {
            display: flex;
            flex-direction: column;
            margin-left: 59px;

            @include media-to(1024px) {
                text-align: center;
                margin: 0;
            }

            @include media-to(425px) {
                width: 100%;
            }
        }

        &-right {
            margin-top: -20px;

            @include media-to(1024px) {
                width: 100%;
                margin: 0;
            }
        }
    }

    &__track {
        padding: 20px 40px;
        border-radius: 8px;
    }

    .splide {
        &__arrows {
            margin-top: auto;
            display: flex;

            @include media-to(1024px) {
                margin-top: 0;
                justify-content: center;
            }
        }

        &__arrow {
            position: relative;
            width: 60px;
            height: 60px;
            background-color: rgba(0, 0, 0, 0.05);
            margin-right: 15px;
            border-radius: 0;
            top: 0;

            &:disabled {
                display: none;
            }

            svg {
                display: none;
            }

            &_next {

              &:after {
                  content: url("/images/slider-arrow-next.svg");

              }
            }

            &_prev {

                &:after {
                    content: url("/images/slider-arrow-next.svg");
                    transform: rotate(-180deg);
                }
            }
        }

        &__image {
            @include media-to(1024px) {
                display: block;
                max-width: 100%;
                height: auto;
                margin: 0 auto;
            }
        }
    }
}